<a href="https://colab.research.google.com/github/Darsh0210/Projects/blob/master/NueralNetworks_exp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.datasets import mnist

In [21]:
import pandas as pd

In [5]:
physical_devicess = tf.config.list_physical_devices("GPU")
tf.config.experimental.set_memory_growth(physical_devicess[0], True)

In [8]:
(X_train,y_train),(X_test,y_test) = mnist.load_data()
X_train = X_train.reshape(-1,28,28,1).astype("float32")/255.0
X_test  = X_test.reshape(-1,28,28,1).astype("float32")/255.0

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step

In [19]:
y_train[0]

5

In [14]:
# CNN -> BatchNormal -> Relu
class CNNBlock(layers.Layer):
  def __init__(self, output_channels, kernel_size = 3):
    super(CNNBlock, self).__init__()
    self.conv = layers.Conv2D(output_channels, kernel_size, padding='same')
    self.bn  = layers.BatchNormalization()

  def call(self, input_tensor, training = False):
    x = self.conv(input_tensor)
    x = self.bn(x, training = training)
    x = tf.nn.relu(x)
    return x

In [16]:
model = keras.Sequential([
                          CNNBlock(32),
                          CNNBlock(64),
                          CNNBlock(128),
                          layers.Flatten(),
                          layers.Dense(10)
])

In [17]:
model.compile(optimizer = tf.keras.optimizers.Adam(),
              loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits = True),
              metrics = ['accuracy'])

In [18]:
model.fit(X_train, y_train, batch_size = 64, epochs = 3)

Epoch 1/3
938/938 [==============================] - 29s 24ms/step - loss: 1.3688 - accuracy: 0.8955
Epoch 2/3
938/938 [==============================] - 22s 24ms/step - loss: 0.1081 - accuracy: 0.9804
Epoch 3/3
938/938 [==============================] - 22s 24ms/step - loss: 0.0340 - accuracy: 0.9895

In [20]:
model.evaluate(X_test, y_test)

313/313 [==============================] - 2s 6ms/step - loss: 0.0517 - accuracy: 0.9839

[0.051683858036994934, 0.9839000105857849]

In [23]:
y_predicted = model.predict_classes(X_test)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [24]:
pd.crosstab(y_test, y_predicted,)

col_0    0     1     2     3    4    5    6    7    8    9
row_0
0      973     0     3     1    0    1    1    0    1    0
1        0  1104    12     1    2    1    1    0   14    0
2        1     0  1026     0    1    0    1    1    1    1
3        0     0     3  1000    0    4    0    1    2    0
4        0     0     1     0  972    0    1    0    2    6
5        1     0     1     5    0  882    2    0    1    0
6        7     1     1     1    1    8  937    0    2    0
7        0     1    18     1    1    0    0  994    3   10
8        4     0     3     0    1    3    0    1  961    1
9        0     0     1     0    4    9    0    1    4  990